name: Pytest

on:
  push:
    branches:
      - main


jobs:
  tests:
    runs-on: python-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Instalar dependencias
        run: pip install -r requirements.txt

      - name: Ejecutar pruebas
        run: pytest